#secondary {
	display: none;
}

.site-main {
	max-width: 1400px;
	margin: 0 auto;
	border-top: 1px solid $color_dark;
}

/******************************* HOME ***************************/

.cta {
	button {
		font-size: 16px;
		letter-spacing: 4px;
		color: $color_red !important;
		@include montserrat-bold();
		text-transform: uppercase;
		background: none !important;
		border: 0 !important;
	}
}
.intro {
	border-bottom: 1px solid $color_dark;
	margin-bottom: 70px;
	.h50p {
		position: relative;
		h1 {
			margin: 90px 0 30px 0 !important;
			font-size: 45px;
			letter-spacing: -2.7px;
			@include baufra-bold();
		}
		a {
			font-size: 16px;
			letter-spacing: 4px;
			color: $color_red;
			@include montserrat-bold();
			text-transform: uppercase;
		}
	}
	.wpb_content_element {
		margin: 0;
	}
	.wpb_single_image {
		margin-right: -15px;
	}
}
.clients {
	border-bottom: 1px solid #c2c2c2;
	border-top: 1px solid #c2c2c2;
	padding: 30px;
	text-align: center;
	margin-bottom: 70px;
	a {
		margin: 0 35px;
		img {
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
			filter: grayscale(100%);
			opacity: 0.5;
		}
	}
	a:hover {
		img {
			-webkit-filter: none; /* Safari 6.0 - 9.0 */
			filter: none;
			opacity: 1;
		}
	}
}
.infrastructure {
	padding: 50px 0;
	background: $color_dark;
	color: #fff;
	margin-bottom: 70px;
	h2 {
		color: $color_gold;
		font-size: 45px;
		letter-spacing: -2.7px;
		text-align: center;
		@include baufra-bold();
		margin-bottom: 75px;
	}
	h3 {
		font-size: 30px;
		@include myriadpro-semibold();
	}
	.mid-text {
		padding-top: 120px;
	}
	.col-md-7 {
		text-align: right;
		padding-right: 50px;
	}
	.infrastructure-gold {
		border-top: 1px solid #c2c2c2;
		padding-top: 40px;
		margin-top: 60px;
		h3 {
			font-size: 20px;
			line-height: 25px;
			color: $color_gold;
			margin: 0;
		}

	}
}
.suite {
	margin-bottom: 70px;
	h2 {
		color: $color_dark;
		font-size: 45px;
		letter-spacing: -2.7px;
		text-align: center;
		@include baufra-bold();
		margin-bottom: 45px;
	}
	h3 {
		width: 130px;
		position: absolute;
		font-size: 22px;
		color: $color_red;
		@include baufra-bold();
		text-transform: uppercase;
	}
	.key {
		margin-top: 20px;
		background: #fff url(./images/Left_Keys.png) no-repeat right center;
		h3 {
			right: 150px;
			top: -20px;
		}
		.box {
			img {
				top: -266px;
			}
		}
	}
	.computer {
		background: #fff url(./images/Right_Comp.png) no-repeat right center;
		h3 {
			right: 260px;
			top: 0;
		}
		.box {
			bottom: -15px;
		}
	}
	.key, .computer {
		position: relative;
		min-height: 530px;
	}
	.box {
		border: 1px solid #d6dadd;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 400px;
		height: 240px;
		padding: 50px;
		text-align: center;
		background: #fff;
		@include myriadpro-light();

		img {
			position: absolute;
			top: -254px;
			left: 90px;
		}
	}
	a {
		font-size: 16px;
		letter-spacing: 4px;
		color: $color_red;
		@include montserrat-bold();
		text-transform: uppercase;
	}
}
.do-for-you {
	padding: 70px 0px;
	background: url(images/bg2.png);
	h2 {
		color: $color_dark;
		font-size: 45px;
		letter-spacing: -2.7px;
		text-align: center;
		@include baufra-bold();
		margin-bottom: 45px;
	}
}
.do-for-you .box, #tab-deployment .box, .page-template-technology .vhsm .box {
	border: 1px solid #e1e5f0;
	border-bottom: 12px solid #7e2452;
	background: #fff;
	height: 300px;
	display: block;
	padding: 30px;
	text-align: center;
	margin-bottom: 30px;
	a {
		color: $color_dark;
		position: relative;
		display: block;
		height: 100%;
		line-height: 160px;
	}
	p {
		position: absolute;
		bottom: 0;
		width: 100%;
		line-height: 25px;
		margin-bottom: 10px;
	}
	img {
		vertical-align: middle;
	}
}
.do-for-you .box:hover {
	border-bottom: 12px solid #e6c085;
}

.hardware {
	background: $color_dark;
	color: #fff;
	margin-bottom: 70px;
	padding: 70px 0;
	text-align: center;
	h2, .subtitle {
		max-width: 750px;
		margin: 0 auto;
	}
	h2 {
		color: $color_gold;
		font-size: 45px;
		letter-spacing: -2.7px;
		@include baufra-bold();
	}
	.subtitle {
		padding: 40px 0 20px 0;
	}
	.icon {
		height: 180px;
	}
	.icon2 {
		position: relative;
		top: 15px;
	}
	.icon1 {
		position: relative;
		top: 50px;
	}
	.col-md-4 p {
		max-width: 250px;
		margin: 0 auto;
	}
	a {
		font-size: 16px;
		letter-spacing: 4px;
		color: $color_gold;
		margin-top: 40px;
		display: block;
		@include montserrat-bold();
		text-transform: uppercase;
	}
}
.testimonials {
	margin-bottom: 70px;
	.mid {
		max-width: 680px;
		margin: 0 auto;
		text-align: center;
	}
	h2 {
		@include baufra-bold();
		font-size: 25px;
		letter-spacing: 4.5px;
		margin: 0 auto 35px auto;
		max-width: 600px;
		text-transform: uppercase;
		line-height: 41px;
	}
	p {
		font-size: 20px;
		font-style: italic;
		margin-bottom: 15px;
		line-height: 25px;
		@include myriadpro-it();

		img {
			margin: 0 10px;
		}
	}
	b {
		display: block;
		margin-bottom: 15px;
	}
}
.boundaries {
	background: $color_dark;
	color: #fff;
	margin-bottom: 70px;
	padding: 70px 0;
	text-align: center;
	h2 {
		color: $color_gold;
		font-size: 45px;
		letter-spacing: -2.7px;
		margin: 0;
		@include baufra-bold();
	}
	a {
		font-size: 16px;
		letter-spacing: 4px;
		color: $color_gold;
		margin-top: 40px;
		display: block;
		@include montserrat-bold();
		text-transform: uppercase;
	}
}
.books {
	text-align: center;
	margin-bottom: 70px;
	h3 {
		margin: 20px 0;
		font-size: 20px;
		text-transform: uppercase;
		@include baufra-bold();
	}
	p {
		font-size: 20px;
		@include montserrat-ultra();
	}
	a {
		font-size: 16px;
		letter-spacing: 2px;
		color: $color_red;
		@include montserrat-bold();
		text-transform: uppercase;
	}
}

/******************************* PROJECT ***************************/

a.cta {
	font-size: 16px;
	letter-spacing: 2.5px;
	color: $color_red;
	@include montserrat-bold();
	text-transform: uppercase;
}
	
.single-product, .page-template-technology {
	h1, h2 {
		color: $color_dark;
		font-size: 45px;
		letter-spacing: -2.7px;
		@include baufra-bold();
	}
	h3 {
		color: $color_dark;
		font-size: 28px;
		letter-spacing: -1.7px;
		@include baufra-bold();
	}
	.hentry {
		margin: 0;
	}
	.darker {
		padding: 50px 0;
		background: $color_dark;
		color: #fff;
		h1, h2, h3 {
			color: $color_gold;
		}
		a {
			color: #fff;
		}
	}
	.darker-row {
		text-align: center;
		h2 {
			max-width: 750px;
			margin: 0 auto 30px auto;
		}
		p {
			max-width: 1000px;
			margin: 0 auto;
		}
	}
}
.single-product {
	#tab-technical, #tab-features, #tab-deployment { /* #tab-overview, #tab-features, #tab-deployment, #tab-technical */
		display: none;
	}

	header {
		h1 {
			margin: 30px 0 0 0;
		}
		h3 {
			margin: 10px 0 40px 0;
		}
		p {
			max-width: 400px;
		}
	}

	.tabs {
		line-height: 61px;
		border: 1px solid #c4c4c4;
		text-align: center;
		font-size: 15px;
		text-transform: uppercase;
		@include baufra-bold();
		.tab {
			border-right: 1px solid #c4c4c4;
			cursor: pointer;
		}
		.tab:nth-last-child {
			border-right: none;
		}
		.selected, .tab:hover {
			background: $color_red;
			color: #fff;
		}
	}

	#tab-overview {

		.all-in-one {
			padding: 40px 0 70px 0;
			text-align: center;

			p {
				max-width: 630px;
				margin: 30px auto 0 auto;
			}
			.boxes {
				text-align: center;
				max-width: 1200px;
				margin: 50px auto 0 auto;
				position: relative;
				.box {
					border: 1px solid #ccc;
					margin: 0 30px;
					height: 330px;
					padding: 70px 0 0 0;
					h3 {
						font-size: 25px;
						letter-spacing: 3.5px;
						text-transform: uppercase;
					}
					p {
						line-height: 20px;
						max-width: 400px;
						margin: 0 auto 15px auto;
					}
				}
				.plus {
					position: absolute;
					left: 50%;
					top: 50%;
					background: #fff;
				    margin: -55px 0 0 -55px;
				    padding: 30px;
				    z-index: 100;
				}
			}
		}
		.stretching, .darker-row {
			text-align: center;
		}
		.silos {
			padding: 50px 0 70px 0;
			text-align: center;
			h2 {
				max-width: 700px;
				margin: 0 auto 30px auto;
			}
			p {
				max-width: 1100px;
				margin: 0 auto 40px auto;
			}
		}
		.for-project {
			background: none;
			h2 {
				max-width: 700px;
				margin: 0 auto 30px auto;
			}
		}
		.what-to {
			padding: 60px 0;
			background: url(images/bg2.png);
			text-align: center;
			h2 {
				margin-bottom: 70px;
			}
			.container {
				max-width: 1100px;
			}
			.row {
				font-size: 20px;
				@include myriadpro-semibold();
				p {
					height: 65px;
					line-height: 20px;
				}
			}
		}
	}

	#tab-features {
		padding-bottom: 70px;
		h2 {
			margin: 70px 0 0px 130px;
		}
		p {
			margin: 30px 0 50px 130px;
			max-width: 420px;
		}
		.image {
			text-align: center;
			line-height: 330px;
		}
		.row {
			border-bottom: 1px solid #c4c4c4;
		}
		.noborder {
			border: 0;
		}
	}

	#tab-deployment {
		padding: 50px 0 0px 0;
		text-align: center;
		h2 {
			max-width: 700px;
			margin: 0 auto 30px auto;
		}
		p {
			max-width: 1100px;
			margin: 0 auto 40px auto;
		}
		b.pp1 {
			max-width: 700px;
			margin: 70px auto 50px auto;
			display: block;
		}
		.box {
			position: relative;
			p {
				left: 0;
				bottom: 20px;
			}
		}
		.wrap {
			color: $color_dark;
			position: relative;
			display: block;
			height: 300px;
			line-height: 160px;
		}
		.ekm {
			max-width: 1100px;
			margin: 0 auto 50px auto;
		}
		.automation {
			padding: 60px 0;
			background: url(images/bg2.png);
			h2 {
				max-width: 800px;
			}
		}
	}

	#tab-technical {
		padding-bottom: 70px;
		.row {
			padding-top: 60px;
		}
		.col-md-2 {
			text-align: center;
		}
		h2 {
			margin: 0;
		}
		ul {
			margin: 40px 0 0 0;
			list-style: none;
			padding: 0;
			font-size: 20px;
			line-height: 28px;

			li {
			  padding-left: 1em;
			  text-indent: -.7em;
			}

			li::before {
			  content: "• ";
			  font-size: 35px;
			  color: $color_red; /* or whatever color you prefer */
			}
		}

		table {
			margin-top: 50px;
			th {
				padding: 20px 20px;
				font-weight: normal;
				border-right: 1px solid #a1a1a1;
				text-align: center;
			}
			td {
				padding: 10px 20px;
				text-align: center;
				line-height: 35px;
				border-bottom: 1px solid #a1a1a1;
				border-right: 1px solid #a1a1a1;
			}
			td.gray {
				border-top: 1px solid #a1a1a1;
				text-align: left;
			}
			.gray {
				background-color: #ebebeb;
			}
			.pp, .pp-start, .pp-end {
				border-left: 2px solid $color_red;
				border-right: 2px solid $color_red;
			}
			.pp-start {
				border-top: 2px solid $color_red;
			}
			.pp-end {
				border-bottom: 2px solid $color_red;
				position: relative;
				img {
					position: absolute;
					bottom: -27px;
					left: 50%;
				}
			}
		}
		.cpu {
			padding-left: 25%;
		}
	}

	.books {
		padding: 60px 0;
	}
}

.page-template-technology {
	.mathematical {
		background: url(images/bg2.png);
		text-align: center;
		.container {
			padding: 150px 0;
			background: transparent url(images/bg3.png) no-repeat center center;
		}
		h2 {
			margin: 30px auto;
			max-width: 800px;
		}
		p {
			margin: 0 auto;
			max-width: 700px;
		}
	}
	.how {
		padding: 100px 0;
		background: #262e40;
		h2 {
			max-width: 150px;
		}
		p {
			margin: 20px 0;
			max-width: 300px;
		}
		.line1 {
			position: relative;
			left: 0px;
		}
		.line2 {
			position: relative;
			left: 35px;
		}
	}
	.vhsm {
		padding: 60px 0;
		background: url(images/bg2.png);
		text-align: center;
		h2 {
			margin: 40px 0;
		}
		.box {
			position: relative;
			line-height: 160px;
			p {
				left: 0;
				bottom: 20px;
				padding: 0 15px;
			}
		}
	}
	.multiparty {
		padding: 60px 0;
		text-align: center;
		h2 {
			margin: 30px auto;
			max-width: 500px;
		}
		p {
			margin: 0 auto;
			max-width: 800px;
			line-height: 28px;
		}
		.boxes {
			text-align: center;
			max-width: 1200px;
			margin: 50px auto 0 auto;
			position: relative;
			.box {
				border: 1px solid #e6c085;
				margin: 0 30px;
				height: 330px;
				padding: 50px 0 0 0;
				h3 {
					font-size: 20px;
					line-height: 37px;
					letter-spacing: 3.5px;
					text-transform: uppercase;
				}
				p {
					line-height: 28px;
					font-size: 18px;
					max-width: 400px;
					margin: 0 auto 15px auto;
				}
			}
			.mpc {
				background: #e6c085;
			}
			.server {
				padding-top: 20px;
				img {
					position: relative;
					left: 15px;
				}
			}
		}
	}
	.privacy {
		.icon {
			text-align: center;
		}
		.description {
			h2 {
				max-width: 500px;
			}
			p {
				max-width: 550px;
			}
		}
	}
	.clients {
		border: 0;
		margin-bottom: 30px;
		h2 {
			margin: 50px 0;
		}
		.row {
			border-bottom: 1px solid #c2c2c2;
			border-top: 1px solid #c2c2c2;
			line-height: 80px;
		}
	}
}

.blog {
	#secondary {
		display: block;
	}
	.site-main {
		h1, h2 {
			color: $color_dark;
			font-size: 45px;
			letter-spacing: -2.7px;
			@include baufra-bold();
		}
		h3 {
			color: $color_dark;
			font-size: 28px;
			letter-spacing: -1.7px;
			@include baufra-bold();
		}
		.whatsnew {
			padding: 45px 0 0 15px;
			b {
				font-size: 13px;
				text-transform: uppercase;
				@include montserrat-bold();
			}
			h2 {
				margin: 0;
				font-size: 31px;
			}
		}
		a.cta {
			font-size: 16px;
			letter-spacing: 2.5px;
			color: $color_red;
			@include montserrat-bold();
			text-transform: uppercase;
		}
	}
	.posts {
		width: 75%;
		float: left;
		article {
			width: 47%;
			float: left;
			margin: 14px;
			padding: 0 15px;
			border: solid 1px #e2e2e2;
			padding-bottom: 15px;
			border-radius: 5px;
			overflow: hidden;
			h2 {
				font-size: 25px;
				letter-spacing: -1.5px;
				margin-top: 10px;
			}
			a {
				color: $color_dark;
			}
			.posted-on {
				font-size: 18px;
				@include baufra-bold();
			}
			.entry-content {
				height: 130px;
			}
			.cover {
				margin: 0 -15px;
			}
			.author {
				position: relative;
				padding-left: 70px;
				font-size: 15px;
				@include baufra-medium();

				img {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 55px;
					height: 55px;
					border-radius: 28px;
					overflow: hidden;
				}
			}
		}
		article:nth-child(even) {float: left; clear: left;}
		article:nth-child(odd) {float: right; clear: right;}
		article.full {
			padding: 0;
			margin: 0 0 15px 0;
			width: auto;
			float: none;
			border:none;
		}
	}
	.sidebar {
		width: 24%;
		float: right;
		.widget-area {
			width: auto;
			float: none;
		}
	}
	.posts-navigation {
		clear: both;
		.nav-links {
			margin: 50px 15px;
		}
		a {
			font-size: 14.5px;
			letter-spacing: -0.9px;
			color: $color_red;
			@include baufra-bold();
			text-transform: uppercase;
		}
	}
	.widget-area {
		float: right;
		margin: 0;
	}
	header.title {
		h1 {
			line-height: 260px;
		}
	}
}


.single-post {
	#secondary {
		display: block;
	}
	.content-area {
		float: left;
		width: 70%;
	}
	h1 {
		font-size: 45px;
		color: $color_dark;
		@include baufra-bold();
		margin: 45px 0;
	}
	.hentry {
    	line-height: 25px;
    }
	.author {
		border-bottom: 1px solid $color_dark;
		border-top: 1px solid $color_dark;
		padding: 25px 0 25px 120px;
		position: relative;
		height: 160px;
		h2 {
			font-size: 20px;
			color: $color_dark;
			@include baufra-bold();
			text-transform: uppercase;
			margin: 0;
		}
		p {
			max-width: 550px;
			margin: 10px 0;
		}
		a {
			color: $color_dark;
			@include baufra-medium();
		}
		img {
			position: absolute;
			left: 0;
			top: 25px;
			width: 100px;
			height: 100px;
			border-radius: 50px;
			overflow: hidden;
		}
		b {
			font-size: 20px;
		}
	}
	.crp_related  {
		max-width: 1000px;
		margin: 40px auto;
		height: 150px;
		h3 {
			font-size: 20px;
			color: $color_dark;
			@include baufra-bold();
			text-transform: uppercase;
			margin: 0 0 25px 0;
		}
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				width: 33.33%;
				float: left;
				padding: 0 15px 0 0;
				img {
					float: left;
					max-width: 100px;
					margin: 0 10px 0 0;
				}
			}
		}
		a {
			color: $color_dark;
		}
	}
	.mc4wp_form {
		padding: 60px 0;
		background: url(images/bg2.png);
		float: none;
		width: auto;
		text-align: center;
	}
}
header.title {
	background: url(images/bg4.png);
	height: 260px;
	border-bottom: 1px solid $color_dark;
	border-top: 1px solid $color_dark;
	margin-bottom: 50px;
	h1 {
		line-height: 45px;
		font-size: 45px;
		color: $color_dark;
		letter-spacing: -2.7px;
		@include baufra-bold();
		margin: 50px 0 0 0;
	}
	p {
		margin: 15px 0;
		max-width: 450px;
	}
	a {
		
		font-size: 16px;
		letter-spacing: 4px;
		color: $color_red;
		@include montserrat-bold();
		text-transform: uppercase;
	}
}
header.title.mid {
	h1 {
		line-height: 260px;
		margin: 0;
	}
}
.widget-area, .mc4wp_form  {
	float: right;
	width: 24%;
	h2 {
		margin: 0 0 15px 0;
		color: $color_dark;
		font-size: 20px !important;
		letter-spacing: -2.7px;
		@include baufra-bold();
		letter-spacing: 0;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	a {
		color: $color_dark;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			margin-bottom: 15px;
		}
	}
	.search-form, .mc4wp-form {
		input[type="search"], input[type="email"], input[type="text"] {
		    font-family: 'Montserrat', sans-serif;
		    font-weight: normal;
		    font-style: normal;
		    border: 1px solid #ccc;
		    font-size: 15px;
		    padding: 5px;
		    text-indent: 5px;
		    width: 100%;
		    height: 40px;
		}
		input[type="submit"] {
		    font-family: 'Montserrat', sans-serif;
		    font-weight: normal;
		    font-style: normal;
		    background: $color_red;
		    color: #fff;
		    height: 40px;
		    font-size: 15px;
		    border: 0;
		}
	}
	.tagcloud {
		a {
			border: 1px solid #c2c2c2;
			padding: 5px 10px;
			font-size: 15px !important;
			float: left;
			margin: 5px 5px 0 0;
		}
	}
}
.partners {
	.intro-min {
		max-width: 950px;
		margin: 20px auto 50px auto;
		text-align: center;
	}
	h2 {
		margin: 0 0 15px 0;
		color: $color_dark;
		font-size: 45px;;
		letter-spacing: -2.7px;
		@include baufra-bold();
		letter-spacing: 0;
		margin-bottom: 15px;
	}
	.partners-list {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			float: left;
			width: 30%;
			margin: 0 1% 20px 1%;
			height: 400px;
			border: 1px solid #e2e2e2;
			border-radius: 6px;
			.logo {
				background: #e2e2e2;
				text-align: center;
				line-height: 150px;
				height: 200px;
			}
			p {
				padding: 25px;
			}
		}
		li.become {
			text-align: center;
			h3 {
				max-width: 260px;
				margin: 120px auto 30px;
				line-height: 25px;
				font-size: 25px;
				color: $color_dark;
				letter-spacing: -1.7px;
				@include baufra-bold();
			}
		}
	}
}
.page-template-events {
	header.title h1 {
		line-height: 260px;
		margin: 0;
	}
	.partners.events {
		.partners-list {
			margin-bottom: 40px;
			li {
				border: 1px solid #e2e2e2;
				padding: 25px 25px 10px 25px;
				height: 500px;
				
				.logo {
					background: #e2e2e2;
					padding: 0 15px;
					line-height: 200px;
					margin: -25px -25px 25px -25px;
				}
				small {
					@include myriadpro-it();
					font-size: 18px;
					color: #acacac;
				}
				h2 {
					font-size: 20px;
					color: $color_dark;
					@include baufra-bold();
					margin: 15px 0;
				}
				p {
					margin: 0 0 15px 0;
					padding: 0;
				}
			}
		}
	}
	.past-events {
		padding: 60px 0;
		background: url(images/bg2.png);
		float: none;
		width: auto;
		h2, h3 {
			font-size: 46px;
			color: $color_dark;
			@include baufra-bold();
			margin-bottom: 5px;
		}
		h3 {
			font-size: 25px;
		}
		small {
			@include myriadpro-it();
			font-size: 18px;
			color: #acacac;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				padding-left: 40%;
				position: relative;
				margin-bottom: 40px;
				img {
					position: absolute;
					max-width: 100px;
					max-height: 50px;
					left: 40%;
					margin-left: -120px;
					top: 0;
				}
			}
		}
	}
}
.post-type-archive-news {
	header.title {
		background: #fff url(images/header3.png) no-repeat center center;
	}
	.entry-content {
		margin: 0;
		font-size: 18px;
		h2 {
			font-size: 20px;
			line-height: 35px;
			letter-spacing: -1.2px;
			color: $color_dark;
			margin: 0;
			@include baufra-bold();
		}
		p {
			margin: 0;
		}
	}
	article {
		.entry-meta, a {
			color: $color_red;
			font-size: 18px;
			text-align: center;
		}
		.featured {
			text-align: center;
		}
	}
}
.page-template-contactus {
	h2 {
		font-size: 25px;
		line-height: 35px;
		letter-spacing: -1.5px;
		color: $color_dark;
		margin: 0 0 15px 0;
		@include baufra-bold();
	}
	.info {
		p {
			position: relative;
			padding-left: 40px;
			b {
				font-size: 20px;
				letter-spacing: 0px;
				color: $color_dark;
				margin: 0 0 5px 0;
				display: block;
				@include baufra-bold();
			}
			img {
				position: absolute;
				left: 0px;
				top: 0;
			}
		}
	}
	.wpcf7-form {
		margin-bottom: 100px;
		p {
			width: 45%;
			margin: 0 10px 10px 0;
			float: left;
		}
		p:nth-child(10) {
			width: auto;
			float: none;
		}
		.full {
			width: 93%;
		}
	}
	input[type="tel"], input[type="email"], input[type="text"], select, textarea {
	    font-family: 'Montserrat', sans-serif;
	    font-weight: normal;
	    font-style: normal;
	    border: 1px solid #ccc;
	    font-size: 15px;
	    padding: 5px;
	    text-indent: 5px;
	    width: 100%;
	    height: 40px;
	}
	textarea  {
		height: auto;
	}
	input[type="submit"] {
	    font-family: 'Montserrat', sans-serif;
	    font-weight: normal;
	    font-style: normal;
	    background: $color_red;
	    color: #fff;
	    height: 40px;
	    font-size: 15px;
	    border: 0;
	}
}