#secondary {
	display: none;
}

/******************************* HOME ***************************/
.intro {
	background: #fff url(./images/bg1.png) no-repeat right center;
	min-height: 490px;
	border-bottom: 1px solid $color_dark;
	border-top: 1px solid $color_dark;
	margin-bottom: 70px;
	.h50p {
		position: relative;
		h1 {
			margin: 90px 0 30px 0;
			font-size: 45px;
			letter-spacing: -2.7px;
			@include baufra-bold();
		}
		a {
			font-size: 16px;
			letter-spacing: 4px;
			color: $color_red;
			@include montserrat-bold();
			text-transform: uppercase;
		}
	}
}
.clients {
	border-bottom: 1px solid #c2c2c2;
	border-top: 1px solid #c2c2c2;
	text-align: center;
	margin-bottom: 70px;
	a {
		margin: 0 35px;
		img {
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
			filter: grayscale(100%);
			opacity: 0.5;
		}
		line-height: 80px;
	}
	.wpb_content_element {
		margin-bottom: 0;
	}
	a:hover {
		img {
			-webkit-filter: none; /* Safari 6.0 - 9.0 */
			filter: none;
			opacity: 1;
		}
	}
}
.infrastructure {
	padding: 50px 0;
	background: $color_dark;
	color: #fff;
	h2 {
		color: $color_gold;
		font-size: 45px;
		letter-spacing: -2.7px;
		text-align: center;
		@include baufra-bold();
		margin-bottom: 75px;
	}
	h3 {
		font-size: 30px;
		@include myriadpro-semibold();
	}
	.mid-text {
		padding-top: 120px;
	}
	.col-md-7 {
		text-align: right;
		padding-right: 50px;
	}
	.infrastructure-gold {
		border-top: 1px solid #c2c2c2;
		padding-top: 40px;
		margin-top: 60px;
		h3 {
			font-size: 20px;
			line-height: 25px;
			color: $color_gold;
			margin: 0;
		}

	}
}
.pt30 {
	padding-top: 30px !important;
}
.vc_non_responsive .testimonials {
	h2 {
		font-size: 25px;
		line-height: 45px;
		letter-spacing: 4.5px;
		margin-bottom: 40px;
	}
}
.suite {
	margin-bottom: 70px;
	h2 {
		color: $color_dark;
		font-size: 45px;
		letter-spacing: -2.7px;
		text-align: center;
		@include baufra-bold();
		margin-bottom: 45px;
	}
	h3 {
		position: absolute;
		font-size: 22px;
		color: $color_red;
		@include baufra-bold();
		text-transform: uppercase;
	}
	.key {
		margin-top: 20px;
		background: #fff url(./images/Left_Keys.png) no-repeat right center;
		h3 {
			left: 200px;
			top: -10px;
		}
		.box {
			img {
				top: -266px;
			}
		}
	}
	.computer {
		background: #fff url(./images/Right_Comp.png) no-repeat right center;
		h3 {
			left: 115px;
			top: 10px;
		}
		.box {
			bottom: -15px;
		}
	}
	.key, .computer {
		position: relative;
		min-height: 530px;
	}
	.box {
		border: 1px solid #d6dadd;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 400px;
		height: 240px;
		padding: 50px;
		text-align: center;
		background: #fff;
		@include myriadpro-light();

		img {
			position: absolute;
			top: -254px;
			left: 90px;
		}
	}
	a {
		font-size: 16px;
		letter-spacing: 4px;
		color: $color_red;
		@include montserrat-bold();
		text-transform: uppercase;
	}
}
.do-for-you {
	padding: 20px 0px;
	h2 {
		color: $color_dark;
		font-size: 45px;
		letter-spacing: -2.7px;
		text-align: center;
		@include baufra-bold();
		margin-bottom: 45px;
	}
}
.do-for-you .box, #tab-deployment .box, .page-template-technology .vhsm .box, .centralized .box {
	border: 1px solid #e1e5f0;
	/*border-bottom: 12px solid #7e2452;*/
	background: #fff;
	height: 300px;
	display: block;
	padding: 30px;
	text-align: center;
	margin-bottom: 30px;
	position: relative;
	font-weight: 300;
	a {
		color: $color_dark !important;
		position: relative;
		display: block;
		height: 100%;
		top:0;
		line-height: 160px;
		@include transition(.4s);
	}
	p {
		position: absolute;
		bottom: 0;
		width: 100%;
		line-height: 25px;
		margin-bottom: 10px;
	}
	img {
		position: relative;
		vertical-align: middle;
		@include transition(.2s);
		top: 0;
	}
	.more {
		opacity: 0;
		display: block;
	}
	.red-bottom {
		height: 12px;
		background: #7e2452;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
	}
	.a2 {
		@include transition(.4s);
		display: none;
		opacity: 0;
	}
}

.hardware {
	color: $color_dark;
	padding: 70px 0;
	text-align: center;
	h2, .subtitle {
		max-width: 750px;
		margin: 0 auto;
	}
	h2 {
		font-size: 45px;
		letter-spacing: -2.7px;
		@include baufra-bold();
	}
	.subtitle {
		padding: 40px 0 20px 0;
	}
	.vc_single_image-wrapper  {
		height: 150px;
	}
	/*.icon img {
		top: 45px;
		position: relative;
	}
	.icon1 img {
		position: relative;
		top: 15px;
	}
	.icon2 img {
		position: relative;
		top: 25px;
	}*/
	.icon {
		height: 150px;
		line-height: 150px;
		img {
			vertical-align: middle;
		}
	}
	.col-md-4 p {
		max-width: 250px;
		margin: 0 auto;
	}
	a {
		font-size: 16px;
		letter-spacing: 4px;
		color: $color_gold;
		margin-top: 40px;
		display: block;
		@include montserrat-bold();
		text-transform: uppercase;
	}
}
.testimonials {
	/*background: url(images/bgrepeat.png);
	padding: 70px 0;*/
	.mid {
		max-width: 680px;
		margin: 0 auto;
		text-align: center;
	}
	h2 {
		@include baufra-bold();
		font-size: 25px;
		letter-spacing: 4.5px;
		margin: 0 auto 35px auto;
		max-width: 600px;
		text-transform: uppercase;
		line-height: 41px;
	}
	p {
		font-size: 20px;
		font-style: italic;
		margin-bottom: 15px;
		line-height: 25px;
		@include myriadpro-it();

		img {
			margin: 0 10px;
		}
	}
	b {
		display: block;
		margin-bottom: 15px;
	}
}
.boundaries {
	background: $color_dark;
	color: #fff;
	margin-bottom: 70px;
	padding: 70px 0;
	text-align: center;
	h2 {
		color: $color_gold;
		font-size: 45px;
		letter-spacing: -2.7px;
		margin: 0;
		@include baufra-bold();
	}
	a {
		font-size: 16px;
		letter-spacing: 4px;
		color: $color_gold;
		margin-top: 40px;
		display: block;
		@include montserrat-bold();
		text-transform: uppercase;
	}
}
.books {
	margin-bottom: 70px;
	h3 {
		margin: 20px 0;
		letter-spacing: 0;
		font-size: 20px !important;
		text-transform: uppercase;
		@include baufra-bold();
		min-height: 60px;
	}
	p {
		font-size: 20px;
		@include montserrat-ultra();
	}
	.cc {
		height: 150px;
	}
	a.cta {
		font-size: 16px;
		letter-spacing: 1px;
		color: $color_red;
		@include montserrat-bold();
		text-transform: uppercase;
		.cc {
			height: auto;
		}
	}
}

/******************************* PROJECT ***************************/

a.cta {
	font-size: 16px;
	letter-spacing: 2.5px;
	color: $color_red;
	@include montserrat-bold();
	text-transform: uppercase;
	position: relative;
	display: inline;
	padding: 0 25px;
	z-index: 100;
	
	.cc {
		position: absolute;
		width: 15px;
		background: #fff;
		/*height: 140%;*/
		top: -15px;
		img {
			left: 0 !important;
			right: 0 !important;
			top: 0 !important;
			position: relative;
		}
	}
	.cc.l {
		left: 0;
		text-align: right;
	}
	.cc.r {
		right: 0;
		text-align: left;
	}
	.inner {
		display: inline;
	}
}
a.cta.darker {
	color: #e6c085;
	padding: 0 25px;
	top: 20px;
	color: $color_gold;
	.cc {
		background: $color_dark;
	}
}
.gray-grid a.cta {
	.cc {
		background: url(images/bgrepeat.png);
	}
}
.single-product, .page-template-technology {
	h1, h2 {
		color: $color_dark;
		font-size: 45px;
		letter-spacing: -2.7px;
		@include baufra-bold();
	}
	h3 {
		color: $color_dark;
		font-size: 28px;
		letter-spacing: -1.7px;
		@include baufra-bold();
	}
	.hentry {
		margin: 0;
	}
	.darker {
		padding: 50px 0;
		background: $color_dark;
		color: #fff;
		h1, h2, h3 {
			color: $color_gold;
		}
		a {
			color: #fff;
		}
	}
	.darker-row {
		text-align: center;
		h2 {
			max-width: 800px;
			margin: 0 auto 30px auto;
		}
		p {
			max-width: 1000px;
			margin: 0 auto;
		}
	}
}
.single-product {
	#tab-technical, #tab-features, #tab-deployment { /* #tab-overview, #tab-features, #tab-deployment, #tab-technical */
		display: none;
	}

	.header {
		margin-top: 40px;
		h1 {
			margin: 30px 0 0 0;
		}
		h2 {
			font-size: 30px;
		}
		h3 {
			margin: 10px 0 40px 0;
		}
		p {
			max-width: 400px;
		}
	}
	.tab-holder {
		height: 61px;
		.tabs {
			line-height: 61px;
			border: 1px solid #c4c4c4;
			text-align: center;
			font-size: 15px;
			text-transform: uppercase;
			background: #fff;
			z-index: 888;
			@include baufra-bold();
			.tab {
				border-right: 1px solid #c4c4c4;
				cursor: pointer;
			}
			.tab:nth-last-child {
				border-right: none;
			}
			.selected, .tab:hover {
				background: $color_red;
				color: #fff;
			}
		}
	}
	.tab-holder.sticky {
		.tabs {
			top: 118px;
			position: fixed;
			width: 100%;
			max-width: 1340px;
		}
	}

	#tab-overview {
		.stretching, .darker-row {
			text-align: center;
		}
		.stretching {
			.ll, .rr {
				position: relative;
			}
		}
		.silos {
			padding: 50px 0 70px 0;
			text-align: center;
			h2 {
				max-width: 700px;
				margin: 0 auto 30px auto;
			}
			p {
				max-width: 1100px;
				margin: 0 auto 40px auto;
			}
			img {
				position: relative;
			}
		}
		.for-project {
			background: none;
			h2 {
				max-width: 700px;
				margin: 0 auto 30px auto;
			}
		}
		.what-to {
			padding: 60px 0;
			background: url(images/bgrepeat.png);
			text-align: center;
			h2 {
				margin-bottom: 70px;
			}
			.container {
				max-width: 1100px;
			}
			.row {
				font-size: 20px;
				@include myriadpro-semibold();
				p {
					height: 65px;
					line-height: 20px;
					position: relative;
					top: 25px;
					margin: 0 auto;
					width: 85%;
				}
			}
		}
	}

	#tab-features {
		padding-bottom: 70px;
		h2 {
			margin: 0px 0 0px 130px;
		}
		p {
			margin: 30px 0 50px 130px;
			max-width: 420px;
		}
		.image {
			text-align: center;
			line-height: 330px;
		}
		.vc_row {
			border-bottom: 1px solid #c4c4c4;
			padding-bottom: 25px;
			margin-bottom: 40px;
		}
		.noborder {
			border: 0;
		}
		.vc_row:nth-child(even) {
			.vc_col-sm-6 {
				float: right;
			}
		}
		.vc_row:nth-child(odd) {
			
		}
	}

	#tab-deployment {
		padding: 50px 0 0px 0;
		text-align: center;
		h2 {
			/*max-width: 700px;*/
			margin: 0 auto 30px auto;
		}
		p {
			max-width: 1100px;
			margin: 0 auto 40px auto;
		}
		.map2 {
			margin: 0 0 50px 0;
		}
		b.pp1 {
			max-width: 700px;
			margin: 70px auto 50px auto;
			display: block;
		}
		.box {
			position: relative;
			p {
				left: 0;
				bottom: 20px;
			}
		}
		.wrap {
			color: $color_dark;
			position: relative;
			display: block;
			height: 300px;
			line-height: 160px;
		}
		.ekm {
			max-width: 1100px;
			margin: 0 auto 50px auto;
		}
		.automation {
			padding: 60px 0;
			background: url(images/bgrepeat.png);
			h2 {
				max-width: 800px;
			}
		}
		
		.secured-by-end {
			padding: 80px;
			h2 {
				max-width: none;
				color: $color_red;
			}
		}
	}

	#tab-technical {
		padding: 0px;
		.vc_row {
			padding-top: 60px;
			padding-left: 160px;
		}
		.col-md-2 {
			text-align: center;
		}
		h2 {
			margin: 0;
			position: relative;
			img {
				position: absolute;
				left: -160px;
			}
		}
		.p123d {
			text-align: center;
			padding: 80px 0;
		}
		ul {
			margin: 40px 0 0 0;
			list-style: none;
			padding: 0;
			font-size: 20px;
			line-height: 28px;

			li {
			  padding-left: 1em;
			  text-indent: -.7em;
			}

			li::before {
			  content: "• ";
			  font-size: 35px;
			  color: $color_red; /* or whatever color you prefer */
			}
		}

		table {
			margin-top: 50px;
			th {
				padding: 20px 20px;
				font-weight: normal;
				border-right: 1px solid #a1a1a1;
				text-align: center;
			}
			td {
				padding: 10px 20px;
				text-align: center;
				line-height: 35px;
				border-bottom: 1px solid #a1a1a1;
				border-right: 1px solid #a1a1a1;
			}
			.remove-bt {
				border-top: 0 !important;
			}
			td.gray {
				border-top: 1px solid #a1a1a1;
				text-align: left;
			}
			.gray {
				background-color: #ebebeb;
			}
			.pp, .pp-start, .pp-end {
				border-left: 2px solid $color_red;
				border-right: 2px solid $color_red;
			}
			.pp-start {
				border-top: 2px solid $color_red;
			}
			.map2 {
				display: none;
			}
			.pp-end {
				border-bottom: 2px solid $color_red;
				position: relative;
				img {
					display: block;
					position: absolute;
					bottom: -27px;
					left: 50%;
				}
			}
		}
		.cpu {
			padding-left: 25%;
		}
	}

	.books {
		padding: 60px 0;
	}
}
.large-box {
	border: 3px solid #2a3142;
	background: #fff;
	padding: 50px 0;
	margin: 25px 0;
	h3, p {
		text-align: left;
		padding: 0 50px;
	}
	h3 {
		font-size: 24px;
		margin-bottom: 30px;
		@include myriadpro-semibold();
	}
}

.page-template-technology {
	.header {
		padding: 0 0 100px 0;
		p {
			max-width: 400px;
		}
		.header1 {
			margin-top: 100px;
		}
	}
	.mathematical {
		background: url(images/bgrepeat.png);
		text-align: center;
		.container {
			padding: 150px 0;
/* 			background: transparent url(images/bg3.png) no-repeat center center; */
		}
		h2 {
			margin: 30px auto;
			max-width: 800px;
			font-size: 42px;
		}
		p {
			margin: 0 auto;
			max-width: 700px;
		}
		.col-md-3 {
			position: relative;
			img {
				top: -90px;
				position: absolute;
				right: 0;
			}
			img.l {
				right: inherit;
				left: 0;
			}
		}
	}
	.how {
		padding: 100px 0;
		background: #262e40;
		h2 {
			max-width: 150px;
		}
		p {
			margin: 20px 0;
			max-width: 300px;
		}
		.line1 {
			position: relative;
			left: 0px;
		}
		.line2 {
			position: relative;
			left: 35px;
		}
	}
	.vhsm {
		padding: 60px 0;
		background: url(images/bgrepeat.png);
		text-align: center;
		h2 {
			margin: 40px 0;
		}
		.box {
			position: relative;
			line-height: 160px;
			p {
				left: 0;
				bottom: 20px;
				padding: 0 15px;
			}
		}
	}
	.multiparty {
		text-align: center;
		p {
			margin: 0 auto;
			max-width: 800px;
			line-height: 28px;
		}
		.boxes {
			text-align: center;
			max-width: 1200px;
			position: relative;
			.box {
				border: 1px solid #e6c085;
				margin: 1%;
				width: 48%;
				height: 330px;
				padding: 25px 0 0 0;
				position: relative;
				h3 {
					font-size: 20px;
					line-height: 37px;
					letter-spacing: 3.5px;
					text-transform: uppercase;
					margin: 0 15px 15px 15px;
				}
				p {
					line-height: 28px;
					font-size: 18px;
					max-width: 400px;
					margin: 0 auto 15px auto;
				}
			}
			.mpc {
				background: #e6c085;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				display: none;
				padding-top: 70px;
			}
			.server {
				padding-top: 20px;
				.mpc {
					display: none;
					padding: 50px 20px;
				}
				img {
					position: relative;
					left: 15px;
				}
			}
			.box:hover {
				.mpc {
					display: block;
				}
			}
		}
	}
	.privacy {
		.icon {
			text-align: center;
		}
		.description {
			h2 {
				max-width: 500px;
			}
			p {
				max-width: 550px;
			}
		}
	}
	/*.clients {
		border: 0;
		margin-bottom: 30px;
		h2 {
			margin: 50px 0;
		}
		.row {
			border-bottom: 1px solid #c2c2c2;
			border-top: 1px solid #c2c2c2;
			line-height: 80px;
		}
	}*/
}
.search-results {
	article {
		clear: both;
		padding-left: 150px;
		position: relative;
		min-height: 150px;
		margin-bottom: 15px;
	}
	.featured {
		position: absolute;
		left: 0px;
		top: 10px;
		width: 125px;
		height: 100px;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	.entry-body {
		float: left;
		h2 {
			font-size: 20px;
			letter-spacing: -1px;
			margin: 5px 0 5px 0;
			@include baufra-bold();
		}
		.entry-content {
			margin: 0 0 10px 0;
			p {
				margin: 0;
			}
		}
		a {
			color: $color_dark;
		}
	}
	/*.blog {
		.posts {
			width: auto;
			article {
				width: 30%;
				margin: 1.5%;
				a {
					color: $color_red;
				}
			}
			article:nth-child(odd), article:nth-child(even) {
				float: left;
				clear: none;
			}
		}
	}*/
}
.team-member {
	max-width: 220px;
	border: 1px solid #e1e5f0;
	.top {
		height: 200px;
		font-size: 16px;
		position: relative;
		.info {
			padding: 15px;
			line-height: 18px;
			display: none;
		}
		.info, .photo {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		.photo {
			background-size: cover;
			background-position: center center;
		}
	}
	.bottom {
		font-size: 18px;
		background: $color_red;
		padding: 15px;
		color: #fff;
		height: 100px;
	}
}
.team-member:hover {
	.info {
		display: block;
	}
	.photo {
		display: none;
	}
}

.all-in-one {
	padding: 40px 0 70px 0;
	text-align: center;

	h2 {
		max-width: 600px;
		margin: 0 auto;
	}
	p {
		max-width: 800px;
		margin: 30px auto 0 auto;
	}
	.boxes {
		text-align: center;
		max-width: 1200px;
		margin: 50px auto 0 auto;
		position: relative;
		.box {
			border: 1px solid #ccc;
			margin: 0 4%;
			width: 42% !important;
			height: 330px;
			padding: 70px 0 0 0;
			h3 {
				font-size: 25px;
				letter-spacing: 3.5px;
				text-transform: uppercase;
			}
			p {
				line-height: 20px;
				max-width: 400px;
				margin: 0 auto 15px auto;
			}
		}
	}
	.plus {
		position: absolute;
		left: 50%;
		top: 50%;
		background: #fff;
	    margin: 0px 0 0 -65px;
	    padding: 40px;
	    z-index: 100;
	}
}
.blog {
	#secondary {
		display: block;
	}
	.site-main {
		h1, h2 {
			color: $color_dark;
			font-size: 45px;
			letter-spacing: -2.7px;
			@include baufra-bold();
		}
		h3 {
			color: $color_dark;
			font-size: 28px;
			letter-spacing: -1.7px;
			@include baufra-bold();
		}
		.whatsnew {
			margin: 45px 0 15px 0;
			border: 1px solid #ccc;
			border-radius: 6px;
			overflow: hidden;
			min-height: 330px;
			.image-cover {
				float: left;
				width: 50%;
				img {
					width: 100%;
				}
			}
			.top-blog {
				float: right;
				width: 50%;
				padding: 60px 50px 15px 30px;
			}
			b {
				font-size: 13px;
				text-transform: uppercase;
				@include montserrat-bold();
			}
			h2 {
				margin: 0;
				font-size: 31px;
			}
		}
		a.cta {
			font-size: 16px;
			letter-spacing: 2.5px;
			color: $color_red;
			@include montserrat-bold();
			text-transform: uppercase;
		}
		/*.full {
			.row {
				img {
					left: -15px;
					position: relative;
				}
			}
		}*/
	}
	.posts {
		width: 75%;
		float: left;
		article {
			width: 47%;
			float: left;
			margin: 1.5%;
			padding: 0 15px;
			border: solid 1px #e2e2e2;
			padding-bottom: 15px;
			border-radius: 5px;
			overflow: hidden;
			height: 600px;
			position: relative;
			h2 {
				font-size: 25px;
				letter-spacing: -1.5px;
				margin-top: 10px;
			}
			a {
				color: $color_dark;
			}
			.posted-on {
				font-size: 18px;
				@include baufra-bold();
			}
			.entry-content {
				height: 130px;
			}
			.cover {
				margin: 0 -15px;
				img {
					width: 100%;
					max-height: 222px;
				}
			}
			.author {
				position: relative;
				padding-left: 70px;
				font-size: 15px;
				@include baufra-medium();

				img {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 55px;
					height: 55px;
					border-radius: 28px;
					overflow: hidden;
				}
			}
			.entry-footer {
				position: absolute;
				bottom: 30px;
				left: 10px;
				width: 100%;
				.share {
					position: absolute;
					right: 30px;
					bottom: -10px;
				}
			}
		}
		article:nth-child(even) {float: right; clear: right;}
		article:nth-child(odd) {float: left; clear: left;}
		article.full {
			padding: 0;
			margin: 0 0 15px 0;
			width: auto;
			float: none;
			border:none;
		}
	}
	.sidebar {
		width: 24%;
		float: right;
		.widget-area {
			width: auto;
			float: none;
		}
	}
	.posts-navigation {
		clear: both;
		.nav-links {
			margin: 50px 15px;
		}
		a {
			font-size: 14.5px;
			letter-spacing: -0.9px;
			color: $color_red;
			@include baufra-bold();
			text-transform: uppercase;
		}
	}
	.widget-area {
		float: right;
		margin: 0;
	}
	header.title {
		h1 {
			line-height: 260px;
		}
	}
}


.single-solutions, .single-usecase {
	h1 {
		margin: 80px auto 50px auto;
	}
	.vc_col-sm-3 .wpb_single_image img {
		max-width: none;
	}
	.vc_align_right img {
		float: right;
	}
}
.solution {
	.col-md-4 {
		color: $color_dark;
		margin-bottom: 20px;
		.on {
			display: none;
		}
	}
	.col-md-4:hover {
		.on {
			display: block;
		}
		.off {
			display: none;
		}
	}
	p {
    	height: 85px;
	    line-height: 20px;
	    position: relative;
	    top: 25px;
		text-align: center;
		margin-bottom: 10px !important;
		padding: 0 20px;
	}
	a {
		color: $color_dark;
		font-weight: 600;
		display: block;
	}
	.ll, .rr {				
		position: relative;
		top: -25px;
	}
	.ll {
		float: left;
	}
	.rr {
		float: right;
	}
}
.single-post {
	#secondary {
		display: block;
	}
	.content-area {
		float: left;
		width: 70%;
		.container {
			width: auto;
		}
	}
	h1 {
		font-size: 45px;
		color: $color_dark;
		@include baufra-bold();
		margin: 45px 0;
	}
	.share {
		float: right;
	}
	.hentry {
    	line-height: 25px;
    }
    article {
	    h1 { font-size: 45px; letter-spacing: normal; }
	    h2 { font-size: 37px; letter-spacing: normal; }
	    h3 { font-size: 32px; letter-spacing: normal; }
	    h4 { font-size: 27px; letter-spacing: normal; }
	    h5 { font-size: 23px; letter-spacing: normal; }
    }
	.author {
		border-bottom: 1px solid $color_dark;
		/*border-top: 1px solid $color_dark;*/
		padding: 25px 0 25px 120px;
		position: relative;
		min-height: 160px;
		h2 {
			font-size: 20px;
			color: $color_dark;
			@include baufra-bold();
			text-transform: uppercase;
			margin: 0;
		}
		p {
			margin: 10px 0;
		}
		a {
			color: $color_dark;
			@include baufra-medium();
		}
		img {
			position: absolute;
			left: 0;
			top: 25px;
			width: 100px;
			height: 100px;
			border-radius: 50px;
			overflow: hidden;
		}
		b {
			font-size: 20px;
		}
	}
	.crp_related  {
		max-width: 1000px;
		margin: 40px auto;
		height: 150px;
		h3 {
			font-size: 20px;
			color: $color_dark;
			@include baufra-bold();
			text-transform: uppercase;
			margin: 0 0 25px 0;
		}
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				width: 33.33%;
				float: left;
				padding: 0 15px 0 0;
				img {
					float: left;
					max-width: 100px;
					margin: 0 10px 0 0;
				}
			}
		}
		a {
			color: $color_dark;
		}
	}
}
.single-post, .blog {
	.mc4wp_form {
		padding: 60px 0;
		background: url(images/bgrepeat.png);
		float: none;
		width: auto;
		text-align: center;
		input[type="search"], input[type="email"], input[type="text"] {
		    font-family: 'Montserrat', sans-serif;
		    font-weight: normal;
		    font-style: normal;
		    border: 1px solid #ccc;
		    font-size: 15px;
		    padding: 5px;
		    text-indent: 5px;
		    width: 300px;
		    height: 40px;
		}
		input[type="submit"] {
		    font-family: 'Montserrat', sans-serif;
		    font-weight: normal;
		    font-style: normal;
		    background: $color_red;
		    color: #fff;
		    height: 40px;
		    font-size: 15px;
		    border: 0;
		}
		h2 {
			letter-spacing: normal;
		}
	}
}
.news-slider {
	margin-bottom: 50px;
	position: relative;
	height: 400px;
	article {
		display: none;
		position: absolute;
	}
	article:first-child {
		display: block;
	}
	.pagination {
		position: absolute;
		right: 20px;
		bottom: 20px;
	}
	a {
		color: $color_dark;
		font-size: 18px;
		@include myriadpro-semibold();
	}
}
header.title {
	background: url(images/bg4.png);
	height: 260px;
	border-bottom: 1px solid $color_dark;
	border-top: 1px solid $color_dark;
	margin-bottom: 50px;
	h1 {
		line-height: 45px;
		font-size: 45px;
		color: $color_dark;
		letter-spacing: -2.7px;
		@include baufra-bold();
		margin: 50px 0 0 0;
	}
	p {
		margin: 15px auto;
		max-width: 450px;
	}
	a {
		
		font-size: 16px;
		letter-spacing: 4px;
		color: $color_red;
		@include montserrat-bold();
		text-transform: uppercase;
	}
}
header.title.mid {
	border-top: 0;
	h1 {
		line-height: 260px;
		margin: 0;
	}
}
header.title.mid.center {
	height: 250px;
	background-size: cover;
	background-position: center center;
	h1 {
		line-height: 250px;
		text-align: center;
		font-size: 60px;
	}
}
.vc_non_responsive .benefits.vc_row {
	.vc_col-sm-3 {
		width: 23%;
		margin: 0 1%;
	}
	.vc_col-sm-4 {
		width: 31%;
		margin: 0 1%;
	}
	.wpb_single_image {
		height: 150px;
		line-height: 150px;
	}
	p {
		position: relative;
	}
}
.widget-area, .mc4wp_form  {
	float: right;
	width: 24%;
	h2 {
		margin: 0 0 15px 0;
		color: $color_dark;
		font-size: 20px !important;
		letter-spacing: -2.7px;
		@include baufra-bold();
		letter-spacing: 0;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	a {
		color: $color_dark;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			margin-bottom: 15px;
		}
	}
	.search-form, .mc4wp-form {
		input[type="search"], input[type="email"], input[type="text"] {
		    font-family: 'Montserrat', sans-serif;
		    font-weight: normal;
		    font-style: normal;
		    border: 1px solid #ccc;
		    font-size: 15px;
		    padding: 5px;
		    text-indent: 5px;
		    width: 100%;
		    height: 40px;
		}
		input[type="submit"] {
		    font-family: 'Montserrat', sans-serif;
		    font-weight: normal;
		    font-style: normal;
		    background: $color_red;
		    color: #fff;
		    height: 40px;
		    font-size: 15px;
		    border: 0;
		}
	}
	.tagcloud {
		a {
			border: 1px solid #c2c2c2;
			padding: 5px 10px;
			font-size: 15px !important;
			float: left;
			margin: 5px 5px 0 0;
		}
	}
}
.partners {
	.intro-min {
		max-width: 950px;
		margin: 20px auto 50px auto;
		text-align: center;
	}
	h2 {
		margin: 0 0 15px 0;
		color: $color_dark;
		font-size: 45px;;
		letter-spacing: 0px;
		@include baufra-bold();
		letter-spacing: 0;
		margin-bottom: 15px;
	}
	.partners-list {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			float: left;
			width: 30%;
			margin: 0 1% 20px 1%;
			height: 600px;
			border: 1px solid #e2e2e2;
			border-radius: 6px;
			position: relative;
			.logo {
				background: #e2e2e2;
				text-align: center;
				line-height: 200px;
				height: 200px;
			}
			p {
				padding: 25px;
			}
			h2 {
				a {
					color: #252c3d;
				}
			}
		}
		li.become {
			text-align: center;
			h3 {
				max-width: 260px;
				margin: 120px auto 30px;
				line-height: 25px;
				font-size: 25px;
				color: $color_dark;
				letter-spacing: -1.7px;
				@include baufra-bold();
			}
		}
	}
}
.events.partners {
	a.cta {
		position: absolute;
		bottom: 20px;
		left: 20px;
	}
	
}
.address-info {
	.address, .icon-photo {
		height: 150px;
		margin: 0;
	} 
	.address {
		display: none;
	}
	.icon-photo {
	}
}
.address-info .gold-box:hover {
	.address {
		display: block;
	}
	.icon-photo {
		display: none;
	}
}
.page-template-events {
	header.title h1 {
		line-height: 260px;
		margin: 0;
	}
	.partners.events {
		.partners-list {
			margin-bottom: 40px;
			li {
				border: 1px solid #e2e2e2;
				padding: 25px 25px 10px 25px;
				height: 510px;
				
				.logo {
					background: #e2e2e2;
					padding: 0 15px;
					line-height: 200px;
					margin: -25px -25px 25px -25px;
				}
				small {
					@include myriadpro-it();
					font-size: 18px;
					color: #acacac;
				}
				h2 {
					font-size: 20px;
					color: $color_dark;
					@include baufra-bold();
					margin: 15px 0;
				}
				p {
					margin: 0 0 15px 0;
					padding: 0;
				}
				a.cta {
					letter-spacing: 1px;
				}
			}
		}
	}
	.past-events {
		padding: 60px 0;
		background: url(images/bgrepeat.png);
		float: none;
		width: auto;
		h2, h3 {
			font-size: 46px;
			color: $color_dark;
			@include baufra-bold();
			margin-bottom: 5px;
		}
		h3 {
			font-size: 25px;
		}
		small {
			@include myriadpro-it();
			font-size: 18px;
			color: #acacac;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				padding-left: 40%;
				position: relative;
				margin-bottom: 40px;
				img {
					position: absolute;
					max-width: 100px;
					max-height: 50px;
					left: 40%;
					margin-left: -120px;
					top: 0;
				}
			}
		}
	}
}
.post-type-archive-news {
	header.title {
		background: #fff url(images/header3.png) no-repeat center center;
	}
	.entry-content {
		margin: 0;
		font-size: 18px;
		h2 {
			font-size: 20px;
			line-height: 25px;
			letter-spacing: -1.2px;
			color: $color_dark;
			margin: 0;
			@include baufra-bold();
		}
		p {
			margin: 0;
		}
	}
	article {
		margin-bottom: 25px !important;
		.entry-meta, a {
			color: $color_red;
			font-size: 18px;
			text-align: center;
		}
		.featured {
			text-align: center;
		}
	}
	.nav-previous {
	    visibility: hidden;
	}
	
	.nav-previous a:before {
	    content: "See more";
	    visibility: visible;
	}
}
.page-template-wpb_title, .page-template-wpb_title {
	h2 {
		font-size: 25px;
		line-height: 35px;
		letter-spacing: -1.5px;
		color: $color_dark;
		margin: 0 0 15px 0;
		@include baufra-bold();
	}
	.info {
		p {
			position: relative;
			padding-left: 40px;
			b {
				font-size: 20px;
				letter-spacing: 0px;
				color: $color_dark;
				margin: 0 0 5px 0;
				display: block;
				@include baufra-bold();
			}
			img {
				position: absolute;
				left: 0px;
				top: 0;
			}
		}
	}
	.wpcf7-form {
		margin-bottom: 100px;
		p {
			width: 45%;
			margin: 0 10px 10px 0;
			float: left;
		}
		p:nth-child(10) {
			width: auto;
			float: none;
		}
		.full {
			width: 93%;
		}
	}
	input[type="tel"], input[type="email"], input[type="text"], select, textarea {
	    font-family: 'Montserrat', sans-serif;
	    font-weight: normal;
	    font-style: normal;
	    border: 1px solid #ccc;
	    font-size: 15px;
	    padding: 5px;
	    text-indent: 5px;
	    width: 100%;
	    height: 40px;
	}
	textarea  {
		height: auto;
	}
	input[type="submit"] {
	    font-family: 'Montserrat', sans-serif;
	    font-weight: normal;
	    font-style: normal;
	    background: $color_red;
	    color: #fff;
	    height: 40px;
	    font-size: 15px;
	    border: 0;
	}
	.site-main {
		padding-bottom: 100px;
	}
	.hbspt-form {
		max-width: 800px;
		margin: 25px auto;
		clear: both;
		.hs_submit {
			text-align: center;
		}
		fieldset {
			max-width: 100% !important;
			margin-bottom: 10px;
			ul {
				margin: 0;
				list-style: none;
			}
			.hs-input {
				margin-right: 10px;
			}
		}
	}
}
.single-usecase {
	header.entry-header {
		text-align: center;
		.container {
			border-bottom: 1px solid $color_dark;
			border-top: 1px solid $color_dark;
			padding: 30px 0;
		}
		h1 {
			margin: 30px 0;
			font-size: 45px;
			letter-spacing: -2.7px;
			@include baufra-bold();
		}
		a {
			font-size: 16px;
			letter-spacing: 4px;
			color: $color_red;
			@include montserrat-bold();
			text-transform: uppercase;
		}
	}
	h2 {
		font-size: 45px;
		line-height: 45px;
		letter-spacing: -1.5px;
		color: $color_dark;
		margin: 0 0 15px 0;
		@include baufra-bold();
	}
	.silos-means {
		padding: 70px 0px;
		background: url(images/bgrepeat.png);
		text-align: center;
		.container {
			max-width: 800px;
		}
	}
	.centralized {
		padding: 90px 0px;
		text-align: center;
		h2, .subtitle {
			max-width: 1000px;
			margin-left:auto;
			margin-right:auto;
		} 
		.subtitle {
			max-width: 800px;
		}
		.box p {
			color: #000;
		}
	}
	.darker {
		padding: 50px 0;
		background: $color_dark;
		color: #fff;
		h1, h2, h3 {
			color: $color_gold;
		}
		a {
			color: #fff;
		}
	}
	.tabs-usecast {
		max-width: 1200px;
		margin: 50px auto;
		h2 {
			max-width: 1000px;
			margin-left:auto;
			margin-right:auto;
			text-align: center;
		}
		.tabs {
			line-height: 23px;
			text-align: center;
			font-size: 20px;
			margin: 50px 0 90px 0;
			text-transform: uppercase;
			@include baufra-bold();
			.lim {
				padding: 15px 50px;
			}
			b {
				font-size: 61px;
				color: #e5bf84;
				float: left;
				line-height: 50px;
			}
			.tab {
				cursor: pointer;
				background: #e1e1e1;
			}
			.selected, .tab:hover {
				background: $color_red;
				color: #fff;
			}
		}
		.tabs-content {
			padding-bottom: 100px;
			.t50 {
				position: relative;
				top: -50px;
			}
		}
		#tab-global {
			display: none;
		}
	}
	.streamlined {
		padding: 70px 0px;
		background: url(images/bgrepeat.png);
		text-align: center;
		.container {
			max-width: 1100px;
		}
		.intor {
			max-width: 800px;
			margin: 0 auto 60px auto;
		}
		.box {
			position: relative;
			border: 1px solid #e1e5f0;
			border-bottom: 12px solid #7e2452;
			background: #fff;
			height: 230px;
			display: block;
			padding: 30px;
			text-align: center;
			margin-bottom: 30px;
			p {
				width: 100%;
				line-height: 25px;
				margin-bottom: 10px;
			}
			img {
				vertical-align: middle;
			}
		}
	}
	.learn-more {
		padding: 50px 0;
		text-align: center;
		a {
			margin:0 15px;
		}
	}
}
.page .webiners_feature {
	padding: 25px;
	h2 {
		font-size: 30px;
		letter-spacing: 0;
		color: #fff !important;
		margin-top: 50px;
		@include myriadpro-semibold();
	}
	img {
		max-height: 370px;
	}
	.col-md-6:first-child {
		text-align: center;
	}
}
.vc_non_responsive.page .webiners_list, .vc_non_responsive.page .webiners_list2 {
	.gray-box {
		padding-bottom: 50px !important;
		margin-bottom: 20px !important;
		.body {
			padding: 25px;
			text-align: left;
			border-top: 1px solid $color_gold;
		}
		h2 {
			letter-spacing: 0;
			font-size: 22px;
			text-align: left;
			padding: 25px 25px 0 25px;
			margin: 0;
			@include myriadpro-semibold();
		}
		.text-center {
			position: absolute;
			bottom: 20px;
			left: 0%;
			width: 100%;
			text-align: center;
		}
	}
	.hide-cta-bg {
		a.cta {
			.cc {
				background: none;
			}
		}
	}
}
.custom-logo {
	width: 100%;
}
.vc_non_responsive.page .webiners_list, .vc_non_responsive.page .webiners_list2 {
	.gray-box {
		position: relative;
		height: 620px;
		h2 {
			padding-bottom: 5px;
		}
		.body {
			/*padding-top: 5px;*/
		}
	}
}
.vc_non_responsive.page .webiners_list.col-md-6 {
	.gray-box {
		height: 520px;
	}
	
}
.vc_non_responsive.page .webiners_list2 { 
	.top-cover {
		background: $color_dark;
		height: 120px;
		background-position: center bottom;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.gray-box {
		height: 600px;
	}
	h2 {
		color: $color_gold !important;
		background: $color_dark;
		height: 100px;
	}
}
.page-template-resources {
	header.title {
		margin-bottom: 0;
	}
}
.type-product {
	padding-top: 25px;
}
.sun-tabs-resources {
	height: 70px;
	.sun-tabs-resources-float {
		list-style: none;
		margin: 0;
		border-bottom: 1px solid $color_dark;
		padding: 0;
		height: 70px;
		background: #fff;
		z-index: 200;
		li {
			float: left;
			height: 70px;
			line-height: 70px;
			a {
				padding: 0 20px;
				border-left: 2px solid $color_dark;
				color: $color_dark;
				@include baufra-bold();
				text-transform: uppercase;
				font-size: 14px;
			}
			a:hover {
				color: $color_red;
			}
		}
	}
	
	li:first-child a {
		border: 0;
	}
}
.sun-tabs-resources.sticky {
	.sun-tabs-resources-float {
		top: 118px;
		position: fixed;
		width: 100%;
		max-width: 1370px;
		left: 50%;
		margin-left: -685px;
	}
}
.hs_submit {
	margin-top: 5px;
}
.page-template-demo {
	.form {
		padding-bottom: 100px;
	}
}
.page-template-partners {
	header.title.mid h1 {
		padding-top: 30px;
		line-height: normal;
	}
}
.widget-area .rpwwt-widget {
	ul li {
		margin: 0 0 25px 0;
		img {
			margin: 0 25px 0 0;
		}
		span {
			font-size: 18px;
		}
	}
}
blockquote {
	border: 0;
	line-height: 25px;
	h4 {
		line-height: 25px;
	}
}
#slider {
  	position: relative;
  	padding: 0 30px;
	ul {
		overflow: hidden;
	  	position: relative;
	  	margin: 0;
	  	padding: 0;
	  	list-style: none;
	  	height: 420px;
	  	width: 100%;
	    li {
		  	position: absolute;
		  	width: 100%;
		  	height: 600px;
		  	opacity: 0;
		  	@include transition(.4s);
		}
		li.active {
		  	opacity: 1;
		}
	}
	a.control_prev, a.control_next {
	  position: absolute;
	  top: 40%;
	  z-index: 88;
	  display: block;
	  padding: 0%;
	  width: auto;
	  height: auto;
	  cursor: pointer;
	}
	a.control_prev {
	  left: -10px;
	}
	a.control_next {
	  right: -10px;
	}
	.pagination {
		text-align: center;
		width: 100%;
		display: block;
		margin: 0;
		a {
			width: 14px;
			height: 14px;
			border-radius: 7px;
			margin: 10px 5px !important;
			background: $color_dark;
			display: inline-block;
		}
		a.active {
			background: $color_gold;
		}
	}
}
#Upcoming {
	margin-bottom: 0;
}
.vc_non_responsive .aboutus {
	.gray-box {
		overflow: initial;
		position: absolute;
		.fly {
			position: absolute;
			img {
				max-width: none;
				max-height: none;
			}
		}
	}
	.fly1 .gray-box {
		margin-top: 155px;
		.fly {
			top: -120px;
			left: 0;
			margin-left: -250px;
		}
	}
	.fly2 .gray-box {
		margin-top: 50px;
		float: left;
		.fly {
			top: -95px;
			left: 0;
			margin-left: 180px;
		}
	}
	.fly3 .gray-box {
		margin-top: 80px;
		.fly {
			top: -30px;
			left: 0;
			margin-left: -213px;
		}
	}
	.fly4 .gray-box {
		margin-top: 40px;
		float: left;
		.fly {
			top: -95px;
			left: 70%;
		}
	}
	.fly2, .fly4 {
		
	}
}
.inner-popup {
  display: none;
  position: fixed;
  -webkit-transform: translateZ(0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
}
.inner-popup h2 {
  font-family: 'LeagueGothic';
  text-transform: uppercase;
  font-size: 34px;
  color: #254E96;
}
.popup-content {
  position: absolute;
  background: #fff;
  width: 560px;
  z-index: 20;
  left: 50%;
  top: 50%;
  margin: -325px 0 0 -280px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.popup-content.flyin {
  margin: -275px 0 0 -280px;
}
.overlay {
  background: rgba(37, 44, 61, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateZ(0);
}
.close-popup {
  position: absolute;
  top: 0px;
  right: -40px;
  background: $color_gold;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 43px;
  color: #000;
  font-size: 25px;
  z-index: 200;
}
.block {
  height: auto;
  -webkit-box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.6);
  padding: 5px;
  border: 10px solid $color_gold;
  p {
	  margin: 0;
  }
}
.ml16 {
	margin-left: 16%;
}
.hh23123 {
	height: 220px;
}