.only-mobile {
	display: none;
}
#responsive-menu-button {
	display: none !important;
}
@media (max-width: 1024px) {
	body {
		padding-top: 85px;
	}
	.row {
		margin-right: 0px;
		margin-left: 0px;
	}
	.menu-menu-top-container {
		display: none;
	}
	.menu-toggle {
		display: none;
	}
	.search {
		display: none;
	}
	.only-desktop {
		display: none;
	}
	#responsive-menu-button {
		display: block !important;
	}
	button#responsive-menu-button {
		background: #fff !important;
	}
	.responsive-menu-inner, .responsive-menu-inner::before, .responsive-menu-inner::after {
		background: $color_red !important;
	}
	#responsive-menu-container #responsive-menu li.responsive-menu-item a {
		background: #212121 !important;
	}
	a.cta {
		top:0;
		letter-spacing: normal;
		padding: 0;
	}
	.only-mobile {
		display: block;
	}
	.vc_non_responsive {
		.vc_section {
			padding: 20px 0 !important;
		}
		.mt100 {
			margin-top: 10px !important;
		}
	}
	.container {
		.container {
			padding: 0;
		}
	}
	.single-product #tab-overview .all-in-one .boxes .box {
		height: auto;
		padding: 20px 20px 60px 20px;
	}
	.all-in-one {
		.boxes .box {
			width: auto !important;
			margin: 0 0 10px 0;
			height: auto;
			padding: 10px 0;
		}
		.plus {
			display: none;
		}
	}
	.site-header {
		padding: 15px 0;
		margin-bottom: 15px;
		border-bottom: 1px solid $color_dark;
		position: fixed;
		left: 0;
		width: 100%;
		top: 0;
		height: 85px;
		background: #fff;
		z-index: 999;
		.main-navigation {
			padding: 0;
			right: 15px;
			width: auto;
		}
		.dark-line {
			border: 0;
			padding: 0;
			height: auto;
		}
	}
	#tab-overview {
		.solution {
			.col-md-4 {
				width: 50%;
				float: left;
			}
		}
	}
	.vc_column-inner  {
		padding: 0 !important;
	}
	h1 {
		margin: 0;
	}
	p {
		margin-bottom: 10px;
	}
	.intro {
		background: none;
		text-align: center;
		border: 0;
		min-height: initial;
		margin: 0;
		.h50p {
			h1 {
				margin: 0 0 15px 0;
			}
			img {
				margin: 25px 0px;
			}
		}
	}
	.hardware .icon img {
	    max-height: 100%;
	    width: auto;
	}
	.vc_section {
		text-align: center;
	}
	.clients {
		padding: 10px 0;
		a {
			margin: 15px;
			height: 50px;
			line-height: 50px;
		}
	}
	.infrastructure {
		padding: 15px 0;
	}
	.infrastructure {
		margin-bottom: 0;
		h2 {
			margin: 15px 0;
		}
		.col-md-7 {
			padding: 10px;
		}
		.mid-text {
			padding-top: 15px;
			text-align: center;
		}
		.infrastructure-gold {
			margin-top: 15px;
		}
	}
	.wpb_content_element {
		margin-bottom: 10px !important;
	}
	.suite {
		margin: 0;
		h2 {
			margin: 15px 0;
		}
		.key, .computer {
			background: none;
			min-height: initial;
			text-align: center;
			border: 1px solid #d6dadd;
			margin-bottom: 15px;
			padding-left: 50%;
			height: auto !important;
			padding: 15px;
			h3 {
				position: relative;
				right: 0;
				top: 0;
				margin:0;
				padding: 0px;
				text-align: center;
			}
			.box {
				position: relative;
				right: 0;
				left: 0;
				top: 0;
				padding: 0;
				border: 0;
				height: auto;
				width: auto;
				img {
					display: none;
				}
			}
			h3, .box {
				clear: right;
				text-align: center !important;
				left: 0;
			}
			.vc_box_border_grey {
				display: none;
			}
			.wpb_single_image {
				display: none;
			}
			.icon.wpb_single_image {
				display: block;
				max-height: 200px;
				text-align: center;
				.vc_box_border_grey {
					display: block;
				}
				img {
					top: 10px;
					height: 200px;
					width: auto;
				}
			}
		}
	}
	.do-for-you {
		.col-md-3, .col-md-4 {
			.box {
				padding: 10px;
				height: auto;
				span.more {
					display: none;
				}
				p {
					position: relative;
				}
				.a2 {
					display: block;
					opacity: 1;
					padding: 10px 0;
				}
			}
		}
	}
	.books {
		.col-md-3 {
			margin-bottom: 30px;
			p {
				margin-bottom: 15px;
			}
		}
	}
	.header {
		.vc_custom_heading {
			text-align: center !important;
		}
		.wpb_text_column {
			text-align: center;
		}
	}
	.site-footer {
		text-align: center;
		.col-md-9 {
			display: none;
		}
		.col-md-3 {
			h3, .newsletter, .contact, .big-icons {
				display: none;
			}
			.follow {
				padding: 0;
				margin: 0 0 15px 0;
				border: 0;
			}
		}
	}
	.single-usecase {
		header.entry-header {
			.container {
				border: 0;
				padding-right: 15px;
				padding-left: 15px;
			}
			.col-md-3 {
				display: none;
			}
			.col-md-6 {
				padding: 0;
			}
		}
		.tabs-usecast {
			.tabs {
				.lim {
					padding: 10px 0;
				}
			}
			#tab-global {
				display: block;
			}
			.tabs-content {
				padding: 10px 0;
				text-align: center;
			}	
		}
	}
	.single-product  {
		padding-top: 145px;
		.entry-header {
			text-align: center;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		.tab-holder {
			height: auto;
		}
		.tabs {
			overflow: scroll;
			position: fixed;
			top: 84px;
			left: 0px;
			width: 100%;
			background: #fff;
			z-index: 998;
			.scroll {
				width: 1400px;
			}
			.tab {
				float: left;
				width: 20%;
			}
		}
		#tab-features {
			text-align: center;
			h2, p {
				margin: 15px 0;
				text-align: center !important;
			}
		}
		#tab-deployment {
			.automation, .ekm, .onprem {
				padding: 15px 0;
				margin: 0;
			}
		}
		#tab-technical {
			.vc_row {
				padding: 0 0 0 0;
				text-align: left;
				margin-bottom: 30px;
				h2 {
					font-size: 30px;
					margin-bottom: 10px;
					overflow: auto;
				}
				img {
					position: relative;
					left: 0;
					float: left;
					margin-right: 10px;
					max-height: 80px;
					width: auto;
				}
				ul {
					clear: both;
				}
			}
		}
	}
	.single-solutions h1, .single-usecase h1 {
		margin: 10px auto;
	}
	.blog {
		header.title {
			height: auto;
			background: no-repeat;
			border: 0;
			h1 {
				line-height: normal;
				margin: 30px 0;
			}
		}
		.posts, .sidebar {
			float: none;
			width: auto;
		}
		.posts {
			article {
				width: auto;
				height: auto;
				.entry-content {
					height: auto;
				}
				.entry-footer {
					position: relative;
					left: 0;
					bottom: 0;
				}
			}
		}
		.news-slider {
		    height: auto;
		    overflow: auto;
		}
		.site-main .whatsnew {
			.top-blog, .image-cover {
				float: none;
				width: auto;
			}
			.top-blog {
				padding: 10px;
			}
		}
	}
	.single-post {
		.author {
			height: auto;
			border: 0;
			padding: 0 0 0 120px;
		}
		.content-area, .widget-area {
			float: none;
			width: auto;
		}
	}
	.single-product header p {
		margin-left: auto;
		margin-right: auto;
	}
	.single-solutions {
		.site-main {
			.vc_section:first-child {
				.vc_col-sm-3 {
					display: none;
				}
			}
			.vc_section.books {
				.vc_col-sm-3 {
					display: block;
				}
			}
			h1 {
				margin:0;
			}
			a.cta {
				display: block;
			}
		}
	}
	.single-usecase, .single-product {
		.vc_col-sm-3 .wpb_single_image {
			display: none;
		}
	}
	.stretching .col-md-2 img {
		display: none;
	}
	.clients {
		margin: 0;
	}
	.page-template-technology {
		text-align: center;
		.mathematical {
			.container {
				padding: 10px 0;
			}
		}
		.how {
			padding: 10px 0;
			h2, p {
				max-width: none;
			}
		}
		.line1, .line2 {
			display: none;
		}
	}
	.sun-tabs-resources {
		height: auto;
		.sun-tabs-resources-float {
			height: auto;
			li {
				line-height: 20px;
				float: none;
				height: auto;
				text-align: center;
				a {
					border: 0;
				}
			}
		}
	}
	header.title {
		height: auto;
		border: 0;
	}
	.partners .partners-list {
		li {
			width: auto;
			float: none;
			height: auto;
			p {
				margin-bottom: 0;
			}
		}
		li.become {
			h3 {
				margin: 50px auto;
			}
		}
	}
	.vc_custom_1514962731892 {
		img {
			display: none;
		}
	}
	.vc_non_responsive.page .webiners_list .gray-box, .vc_non_responsive.page .webiners_list2 .gray-box {
		height: auto;
	}
	.page-template-events .partners.events .partners-list li {
		height: auto;
	}
	.post-type-archive-news {
		article {
			margin-bottom: 50px !important;
			.entry-content h2 {
				line-height: normal;
			}
			.entry-meta {
				display: none;
			}
		}
	}
	.page-template-technology {
		.header {
			margin-bottom: 15px;
		}
		.vhsm, .multiparty, .privacy, .clients {
			padding: 10px 0;
			h2 {
				margin-top: 10px;
			}
		}
		.multiparty .boxes .box {
			margin-bottom: 15px;
			h3 {
				line-height: normal;
				padding: 0 10px;
			}
		}
	}
	.vc_non_responsive .vc_col-sm-4.gray-box {
		height: auto !important;
		max-width: 400px;
		margin: 0 auto;
	}
	.single-usecase .mb50.max800 {
		a.cta {
			display: block;
		}
	}
	.mathematical {
		.col-md-3 {
			display: none;
		}
	}
	.vc_tta-panels-container, .vc_tta-tabs-container {
		.vc_tta-panel-heading {
			background: $color_red !important;
			text-align: center !important;
			margin: 0 -15px  !important;;
			@include baufra-bold();
			.vc_tta-panel-title {
				border-radius: 0 !important;
			}
			a {
				color: #fff !important;
				border-radius: 0 !important;
			}
		}
		.vc_tta-panel-body {
			padding: 10px 0 0 0 !important;
			background: #fff !important;
			display: block !important;
			border: 0 !important;
		}
		.vc_tta-tab {
			width: 100%;
		}
	}
	.single-usecase .tabs-usecast {
		margin: 0;
	}
	.vc_non_responsive.single-solutions .gray-box.withblue {
		margin-bottom: 25px;
		.vc_column-inner {
			padding: 0 !important;
			img {
				margin: 15px 0 !important;
			}
			.blue-square {
				margin: 0 !important;
			}
		}
	}
	.class001 {
		text-align: left;
	}
	.single-product {
		#tab-features p {
			max-width: none;
		}
		 #tab-technical {
			.row {
				padding: 30px 0;
				h2 {
					overflow: auto;
					font-size: 30px;
					img {
						position: relative;
						left: 0px;
						float: left;
						max-height: 100%;
						margin-right: 10px;
						height: 70px;
					}
				}
				.col-md-12 {
					padding: 0;
				}
				ul {
					clear: both;
					margin-top: 15px;
					margin-bottom: 15px;
				}
			}
			table {
				margin: 0 0 20px 0;
				font-size: 17px;
				th {
					padding: 5px;
				}
				td {
					line-height: normal;
					padding: 5px;
				}
			}
		}
	}
	.home video {
		display: none;
	}
	header.title.mid.center {
		height: 100px;
		margin: 0 -15px 15px -15px;
		h1 {
			line-height: 100px;
			font-size: 45px;
		}
	}
	.vc_col-sm-1, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-sm-10, .vc_col-sm-11, .col-md-6 {
		width: auto !important;
		float: none !important;
		clear: both !important;
	}
	.site-header .site-branding {
		line-height: 55px;
	}
	.vc_non_responsive .site-main .box-style3 .gray-box {
		width: auto !important;
		margin: 10px !important;
	}
	.vc_non_responsive .site-main .gold-box {
		width: auto !important;
		margin: 10px !important;
		padding: 20px !important;
		.address {
			display: block;
		}
	}
	.address-info .address, .address-info .icon-photo {
		height: auto;
		padding: 20px;
	}
	.team-member {
		margin: 10px auto;
	}
	header.title.mid.center {
		height: auto;
	}
	.events.partners a.cta {
		position: relative;
		left: 0;
		bottom: 0;
	}
	.page-template-events .partners.events .partners-list li {
		height: auto;
	}
	.fly1, .fly2, .fly3, .fly4 { 
		.fly {
			display: none;
		}
	}
	.hh23123 {
		height: auto;
	}
	.partners .partners-list li {
		height: auto;
		min-height: 220px;
	}
	.page-template-technology .multiparty .boxes .box {
		height: 400px;
	}
	.page-template-technology .multiparty .boxes .mpc {
		height: 400px;
	}
	.popup-content {
		left: 0;
	    top: 0;
	    width: 100%;
	}
	.popup-content.flyin {
		margin: 0;
	}
	.inner-popup {
	    z-index: 99999;
	}
	.close-popup {
		right: 0;
	}
	.home .do-for-you .col-md-3 .box span.more {
		display: block;
	}
}

@media (max-width: 1024px) and (min-width: 760px) {
	.vc_col-sm-1, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-sm-10, .vc_col-sm-11, .col-md-6 {
		width: auto !important;
		float: none !important;
		clear: both !important;
	}
	.do-for-you {
		.col-md-4 {
			width: 50%;
			float: left;
		}
	}
	.stretching {
		.col-md-3, .col-md-6 {
			float: left;
			img {
				display: block;
			}
		}
		.col-md-3 {
			width: 25% !important;
			float: left !important;
			clear: none !important;
		}
		.col-md-6 {
			width: 50% !important;
			float: left !important;
			clear: none !important;
		}
	}
	.webiners_list, .webiners_list2 {
		width: 33%;
		.gray-box {
			height: 700px !important;	
		}
	}
}

@media (max-width: 1430px) {
	.page-template-events .partners.events .partners-list li {
		height: 650px;
	}
	.partners .partners-list li {
		height: 800px;
	}
	.sun-tabs-resources.sticky .sun-tabs-resources-float {
		left: 0;
		margin: 0;
	}
}

@media (min-width: 1200px) {
	.site-header {
		.main-navigation {
			padding: 0 240px 0 220px;
		}
		nav .menu-menu-top-container #primary-menu {
			float: none;
			margin: 0 auto;
			a {
				padding-top: 0;
			}
		}
		.search {
			padding-top: 48px;
		}
	}
	.vc_non_responsive.page .webiners_list, .vc_non_responsive.page .webiners_list2 {
		.gray-box {
			.body {
				height: 350px;
			}
		}
	}
	.page-template-events .partners.events .partners-list li {
		a.cta {
			letter-spacing: 2.5px;
		}
	}
	.container {
		max-width: 1400px;
		width: auto;
	}
}
@media (min-width: 1020px) {
	.page-template-technology {
		.multiparty {
			.boxes {
				.server:hover {
					padding-top: 0px;
					.holder {
						display: none;
					}
					.mpc {
						display: block;
						height: 100%;
					}
				}
			}
		}
	}
	.do-for-you .box:hover {
		/*border-bottom: 12px solid #e6c085;*/
		a {
			top: -50px;
			img {
				opacity: 0;
			}
			span {
				opacity: 1;
				margin-top: 10px;
			}
		}
		.red-bottom {
			background: #e6c085;
		}
		.a1 {
			display: none;
		}
		.a2 {
			display: block;
			opacity: 1;
		}
	}
}