html {
	body {
	    font-family: $font_main_family;
	    font-weight: $font_main_weight;
	    font-style: $font_main_style;
	    font-size: 20px;
	    line-height: 24px;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: antialiased;
	    font-smoothing: antialiased;
	    -webkit-text-size-adjust: 100%;
	    padding-top: 120px;
	}
	p {
		margin: 0 0 20px 0;
	}
	a:hover {
		text-decoration: none;
		color: $color_red;
	}
}
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    
    .dark-line {
		border-bottom: 1px solid $color_dark;
		height: 120px;
		/*max-width: 1400px;*/
		margin: 0 auto;
    }
    
    .container {
        position: relative;
    }
    .main-navigation {
        position: absolute;
        top: 0px;
        width: 100%;
        /*padding: 0 240px 0 220px;*/
        padding: 0 0 0 220px;
        height: 120px;
        
        a {
	        height: 120px;
	        line-height: 120px;
	        padding: 0 10px;
			@include transition(.4s);
			cursor: pointer;
			padding-top: 30px;
        }
        
        ul ul {
	        opacity: 0;
	        background: $color_dark;
	        padding: 15px;
	        margin-top: 0;
	        width: max-content;
	        min-width: 200px;
	        font-size: 14px;
            line-height: 20px;
            letter-spacing: 0px;
            list-style: none;
            @include baufra-medium();
            text-align: left;
            box-shadow:none;
            text-transform: none;
			@include transition(.4s);
			
	        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
            li {
		        float: none !important;
		        display: block !important;
		        margin: 15px 0;
		        a {
			        width: auto;
			        color: #fff;
			        height: auto;
			        line-height: normal;
		        }
		        a:hover {
			        color: $color_gold !important;
		        }
	        }
        }
        li:hover {
	        a {
		        color: #fff;
		        background: $color_dark;
        	}
	        ul {
		        opacity: 1;
	        }
        }
    }
    .site-branding {
        z-index: 200;
        position: relative;
        line-height: 120px;
        width: 220px;
    }
    nav {
        font-family: $font_bold_family;
        font-weight: $font_bold_weight;
        font-style: $font_bold_style;
        font-size: 13px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        .menu-menu-top-container {
            padding-top: 0px;
            margin: 0 auto;
            position: relative;
            z-index: 200;
            #primary-menu {
                display: table;
				/*margin: 0 auto;*/
				margin: 0 15px 0 0;
				float: right;
                li {
                    display: table-cell;
                    padding: 0;
                    float: initial;
                }
            }
        }
        a {
            color: $color_dark;
        }
        .labs {
            a {
                color: $color_red;
            }
        }
    }
    .search {
        padding-top: 28px;
        z-index: 200;
        position: relative;
        .lets-talk {
            font-family: $font_bold2_family;
            font-weight: $font_bold2_weight;
            font-style: $font_bold2_style;
            width: 131px;
            height: 24px;
            border: 1px solid $color_red;
            text-align: center;
            background-color: $color_red;
            font-size: 11px;
            color: #ffffff;
            display: block;
            letter-spacing: 4.3px;
            float: left;
            margin: 0 18px 0 0;
	        @include transition(.4s);
        }
        .lets-talk:hover {
	        background-color: #fff;
	        color: $color_red;
        }
        .magnify {
            padding: 0 0 0 18px;
            border-left: 1px solid $color_dark;
        }
        .search-form {
            display: none;
        }
    }
    .mega-holder {
        top: 120px;
        width: 100%;
        position: absolute;
        background: #2a3142;
        z-index: 100;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
		
		

        .mega-menu {
            position: relative;
            height: 0px;
            overflow: hidden;
            color: #fff;
            width: 100%;
            -webkit-transition: all .4s ease-in-out;
		    -moz-transition: all .4s ease-in-out;
		    -o-transition: all .4s ease-in-out;
		    -ms-transition: all .4s ease-in-out;
		    transition: all .4s ease-in-out;
    
            .mega-item {
                height: 330px;
                display: none;
                position: relative;
                padding: 30px 50px;
                overflow: hidden;
                ul {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0px;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    width: 250px;
                    float: left;
                    @include baufra-medium();
                    li {
                        margin-bottom: 20px;
                        padding-right: 20px;
                        float: left;
                        width: 100%;
                        a {
                            color: #fff;
                        }
                    }
                }
                ul.big {
                    width: 500px;
                    .item {
                        width: 50%;
                    }
                }
                .book {
                    float: left;
                    margin-left: 30px;
                    padding-left: 30px;
                    border-left: 1px solid #fff;
                    height: 100%;
                    width: 260px;
                    text-align: center;
                    a {
                        @include baufra-medium();
                        color: #e6c085;
                    }
                }
            }
            .mega-item.active {
                display: block;
            }
        }
    }
    .mega-holder.active .mega-menu {
        height: 280px;
    }
}
.site-footer {
    background-color: #2a3142;
    font-size: 15px;
    padding: 50px 0;
    color: #fff;
    @include montserrat;
    h3 {
        color: $color_gold !important;
        font-size: 24px;
        text-transform: uppercase;
    }
    h4 {
        color: $color_gold;
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 20px;
        a {
            color: $color_gold;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            margin-bottom: 20px;
        }
        a {
            color: rgba(255, 255, 255, 0.5);
        }
    }
    a {
        color: #fff;
    }
    i {
        font-size: 20px;
    }
    .top40 {
        padding-top: 60px;
    }
    .contact {
        line-height: 40px;
        font-size: 17.5px;
    }
    .contact,
    .follow {
        border-bottom: 1px solid #fff;
        margin: 0 20px 20px 0;
        padding-bottom: 40px;
    }
    .big-icons {
        margin-bottom: 20px;
        img {
            vertical-align: middle;
            float: left;
            margin-right: 10px;
        }
        a {
            align-items: center;
            display: flex;
            justify-content: center;
            text-transform: uppercase;
        }
    }
    .newsletter {
        input[type="email"] {
            @include montserrat;
            border: 1px solid #fff;
            background: $color_dark;
            font-size: 12px;
            padding: 5px;
            text-indent: 5px;
            width: 70%;
            height: 30px;
            color: #fff;
        }
        input[type="submit"] {
            @include montserrat;
            background: $color_gold;
            color: $color_dark;
            height: 30px;
            font-size: 12px;
            border: 0;
            border-radius: 0;
        }
    }
    .closer,
    .closer a {
        color: rgba(255, 255, 255, 0.5);
    }
}
.search-window {
	display: none;
    z-index: 444;
    position: fixed;
    top:120px;
    left: 0;
    width: 100%;
    bottom: 0;
    background: rgba(126, 37, 83, 0.95);
    .search-form {
	    position: absolute;
	    width: 800px;
	    top: 50%;
	    left: 50%;
	    margin-top: -25px;
	    margin-left: -400px;
	    label {
		    display: block;
	    }
	    input[type="search"] {
		    border: 1px solid #fff;
		    background: none;
		    color: #fff;
		    width: 100%;
		    height: 50px;
		    font-size: 25px;
		    text-indent: 10px;
	    }
	    input[type="submit"] {
		    display: none;
	    }
    }
}
.hfeed {
	.content-area {
		max-width: 1400px;
		margin: 0 auto;
	}
}

@media (min-width: 1430px) {
    .container {
        width: 1400px;
    }
}