$font_main_family:  'Myriad Pro', sans-serif;
$font_main_weight:  300;
$font_main_style:  normal;

$font_bold_family:  'Baufra', sans-serif;
$font_bold_weight:  bold;
$font_bold_style:  normal;

$font_bold2_family:  'Baufra', sans-serif;
$font_bold2_weight:  600;
$font_bold2_style:  normal;

$color_dark: #252c3d;
$color_red: #7e2452;
$color_gold: #e6c085;

@mixin transition($speed-number) {
  -webkit-transition: all $speed-number ease-in-out;
  -moz-transition: all $speed-number ease-in-out;
  -o-transition: all $speed-number ease-in-out;
  -ms-transition: all $speed-number ease-in-out;
  transition: all $speed-number ease-in-out;
}

@mixin myriadpro-semibold() {
  font-family:  'Myriad Pro', sans-serif;
  font-weight:  600;
  font-style:  normal;
}

@mixin myriadpro-light() {
  font-family:  'Myriad Pro', sans-serif;
  font-weight:  300;
  font-style:  normal;
}

@mixin myriadpro-it() {
  font-family:  'Myriad Pro', sans-serif;
  font-weight:  300;
  font-style:  italic;
}

@mixin baufra-medium() {
  font-family:  'Baufra', sans-serif;
  font-weight:  500;
  font-style:  normal;
}

@mixin baufra-bold() {
  font-family:  'Baufra', sans-serif;
   font-weight: bold;
  font-style:  normal;
}

@mixin montserrat() {
  font-family:  'Montserrat', sans-serif;
  font-weight:  normal;
  font-style:  normal;
}

@mixin montserrat-bold() {
  font-family:  'Montserrat', sans-serif;
  font-weight:  bold;
  font-style:  normal;
}

@mixin montserrat-ultra() {
  font-family:  'Montserrat Ultra', sans-serif;
  font-weight: 200;
  font-style: normal;
}

// $font__bold:    "font-family: 'Baufra', sans-serif; font-weight: bold; font-style: normal";
// $font__subbold: "font-family: 'Myriad Pro', sans-serif; font-weight: 600; font-style: normal";
