.vc_non_responsive {
	color: $color_dark;
	.vc_row {
		max-width: 1400px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	h1, h2 {
		font-size: 45px; 
		letter-spacing: -2.7px;
	}
	h3 {
		font-size: 30px;
	}
	h1, h2, h3 {
		@include baufra-bold();
		color: $color_dark;
		margin-bottom: 5px;
	}
	.max500 {
		max-width: 500px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.max600 {
		max-width: 600px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.max800 {
		max-width: 800px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.max1000 {
		max-width: 1000px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	h2.max800, h2.max500 {
		margin-bottom: 15px;
	}
	.gray-grid {
		background: url(images/bgrepeat.png);
		font-weight: 400;
		a {
			color: $color_red;
		}
		.do-for-you {
			background: transparent;
		}
		.gray-grid {
			background: none;
		}
	}
	.gold-text {
		color: $color_gold !important;
	}
	.vc_section {
		padding: 50px 0px;
		margin: 0;
		overflow: hidden;
	}
	.hentry {
		margin: 0;
	}
	.gray-box {
		background: #fff;
		border: 1px solid #e2e2e2;
		border-radius:4px;
		padding: 0 !important;
		overflow: hidden;
		text-align: center;
		.vc_column-inner  {
			padding: 0 !important;
		}
		.wpb_text_column {
			padding: 0 15px;
		}
		img {
			position: relative;
			top: 0;
		}
		a.cta .cc {
			background: #fff;
		}
	}
	.gold-box {
		background: $color_gold;
		padding: 100px 50px;
		width: 46% !important;
		margin: 0 2%;
	}
	.gold-border {
		border: 1px solid $color_gold;
		padding: 100px 50px;
		width: 46% !important;
		margin: 0 2%;
	}
	.mt50 {
		margin-top: 50px;
	}
	.mb50 {
		margin-bottom: 50px;
	}
	.mt100 {
		margin-top: 100px;
	}
	.mb100 {
		margin-bottom: 100px;
	}
	.mb15 {
		margin-bottom: 15px !important;
	}
	.mb0 {
		margin-bottom: 0px !important;
		.wpb_content_element {
			margin-bottom: 0px !important;
		}
	}
	.gray-box.withblue .vc_column-inner {
		padding: 20px !important;
		h3 {
			color: #fff;
			margin: 10px 0;
		}
		.blue-square {
			margin: 0 -20px -20px -20px;
			padding: 20px 10px;
			background: $color_dark;
			color: #fff;
			border-top: 6px solid $color_red;
			height: 230px;
		}
		.wpb_single_image {
			height: 150px;
		}
	}
	.darker {
		background: $color_dark;
		color: #fff;
		h1, h2, h3 {
			color: $color_gold;
		}
		a {
			color: $color_gold;
		}
	}
	.darker.cta {
		color: $color_gold;
	}
	.darker.withwhite, .withwhite {
		h1, h2, h3 {
			color: #fff;
		}
	}
	.vc_separator {
		color: $color_dark;
	}
	.vc_tta-tabs-container {
		background: #e1e1e1;
		color: $color_dark;
		.vc_tta-tab {
			@include baufra-bold();
			font-size: 20px;
			text-align: center;
			text-transform: uppercase;
			margin: 0 !important;
			border: 0 !important;
			padding: 0px !important;
			display: block;
			float: left;
			height: 80px;
			span {
				padding: 0 50px !important;
				display: block;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translateX(-50%) translateY(-50%);
			    width: 100%;
			}
			a {
				position: relative;
				height: 80px;
				vertical-align: middle;
				padding: 15px;
			}
		}
		.vc_active, .vc_active a {
			background: $color_red !important;
			color: #fff !important;
			border-radius: 0 !important;
			height: 80px;
		}
	}
	.extralarge .vc_tta-tab {
		height: 130px;
		a {
			height: 130px;
		}
		span {
			padding: 0 10px !important;
		}
	}
	.vc_tta-panels {
		background: none !important;
		border: 0 !important;
		padding-top: 40px;
		.vc_tta-panel-body {
			padding: 0 !important;
			.vc_column-inner, .vc_col-sm-5  {
				padding: 0 !important;
			}
		}
	}
	ol {
		margin: 0 0 15px 0;
	}
	pp50 {
		padding: 50px 0;
	}
	.suite {
		.key, .computer {
			height: 550px;
			img {
				position: relative;
				z-index: 10;
			}
		}
		.key {
			img {
				top: 44px;
			}
		}
		.computer {
			img {
				top: 72px;
			}
		}
	}
	.do-for-you {
		.box {
			margin-bottom: 25px !important;
		}
	}
	.box-style1 {
		.vc_col-sm-4.gray-box {
			width: 30%;
			margin: 25px 1.5%;
		}
		.vc_col-sm-3.gray-box {
			width: 24%;
			margin: 0 0.5%;
		}
		.gray-box {
			height: 315px;
			border-radius: 0;
			border: 0;
			border-bottom: 12px solid #7e2452;
			.vc_column-inner {
				padding: 50px 30px !important;
			}
			.wpb_content_element {
				margin: 0;
			}
			img {
				margin-bottom: 20px;
			}
		}
	}
	.box-style2, .box-style4 {
		.vc_col-sm-4.gray-box {
			width: 30%;
			margin: 25px 1.5%;
		}
		.vc_col-sm-3.gray-box {
			width: 24%;
			margin: 25px 0.5%;
		}
	}
	.box-style3 {
		h2 {
			color: $color_red;
			font-size: 40px;
			margin-bottom: 50px;
		}
		.gray-box {
			text-align: left;
			width: 40% !important;
			margin: 50px 5%;
			h3 {
				padding: 15px 25px;
				font-size: 25px;
				letter-spacing: -1.5px;
			}
			.wpb_text_column {
				padding: 0 25px 15px 25px;
			}
		}
	}
	.box-style4 {
		.gray-box {
			padding: 25px !important;
		}
		.wpb_single_image {
			height: 150px;
			img {
				vertical-align: middle;
			}
		}
	}
	.mm0 .wpb_content_element {
		margin-bottom: 0 !important;
	}
	.header2 {
		text-align: center;
		background-size: initial;
	    padding: 65px 0 !important;
	    background-repeat: no-repeat;
	    background-position: center center;
		h1 {
			font-size: 50px;
			margin: 35px 0 5px 0;
			text-transform: uppercase;
		}
	}
	.max1000 {
		.gray-box {
			height: 320px;
		}
	}
	.darker .gray-box {	
		p {
			color: $color_dark !important;
		}
	}
	.suite {
		h3 {
			color: $color_red;
			font-size: 22px;
		}
	}
	.class001 {
		border-top: 1px solid #c4c4c4;
		padding-top: 20px;
		h3 {
			font-size: 20px;
			margin-bottom: 5px;
		}
		.vc_column-inner  {
			padding: 0;
		}
	}
	
}
.usecase-template-default {
	.vc_section:first-child {
		padding: 0;
	}
}
.home video {
	height: 100%;
	position: relative;
	top: -10px;
	max-width: 100%;
}